@tailwind base;
@tailwind components;

html {
    scroll-behavior: smooth;
}

body {
    @apply text-copy-500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
        Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

.container {
    max-width: 1140px !important;
}

.btn{
    @apply uppercase block px-8 py-2 border-1;
}

.btn.btn-primary{
    @apply bg-brand-primary-500 text-white border-brand-primary-500;
}

.btn.btn-primary:hover,
.btn-.btn-primary:focus{
    @apply bg-white text-brand-primary-500;
}

.heading-1{
    @apply font-medium text-5xl;
}

.heading-2{
    @apply font-medium text-5xl;
}

.heading-3{
    @apply font-medium text-4xl;
}

.heading-4{
    @apply font-medium text-3xl;
}

@tailwind utilities;
