<section class="container py-16">
    <h2 class="heading-2 text-center mb-12">{{ section.settings.title }}</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-12 gap-16">
        {% for article in blogs["news"].articles %}
            {% unless forloop.index > 3 %}
                {% if forloop.index == 1 %}
                    {% render 'component-card-article', article: article, layout: 'large' %}
                {% endif %}
                {%- capture articleClassName -%}
                    {% if forloop.index == 1 %} block lg:hidden {% endif %}
                {%- endcapture -%}
                {% render 'component-card-article', article: article, layout: 'compact', class: articleClassName %}
            {% endunless %}
        {% endfor %}
    </div>
</section>

{% schema %}
{
    "name": "Recent Blogposts",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        }
    ],
    "presets": [
        {
            "name": "Recent Blogposts"
        }
    ]
}
{% endschema %}